# General things to ignore
.DS_Store
settings.cfg
*.log*
data/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Flask stuff:
instance/
.webassets-cache

# Heroku environmental variables
.env

# virtualenv
.venv
venv/
env/

# IDEs
.vscode
