# General things to ignore
.DS_Store
settings.cfg
*.log*
data/*
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Flask stuff:
instance/
.webassets-cache

# virtualenv
.venv
venv/
.env
